
<!-- This is the form for adding a new mezcal -->
<div class="row d-flex justify-center justify-content-center mt-5">
  <div class="add-mezcal-container row justify-center px-sm-0 px-md-4 px-lg-2 py-4">
    <h2 class="page-title row d-flex text-center justify-content-sm-center justify-content-lg-start justify-content-xl-center">
      Add Mezcal
    </h2>
    <form class="add-mezcal-form row">
      <label class="my-sm-1 my-md-2 d-flex text-center justify-content-md-center justify-content-lg-start justify-content-xl-center" for="brand">
        Mezcal Brand:
      </label>
      <br />
      <textarea id="brand" name="brand" rows="1" cols="30">
        {{brand}}
      </textarea>
      <br />
      <label class="my-sm-1 my-md-2 d-flex text-center justify-content-md-center justify-content-lg-start justify-content-xl-center" for="name">
        Mezcal Name:
      </label>
      <br />
      <textarea id="name" name="name" rows="1" cols="30">
        {{name}}
      </textarea>
      <br />
      <label class="my-sm-1 my-md-2 d-flex text-center justify-content-md-center justify-content-lg-start justify-content-xl-center" for="style">
        Mezcal Style:
      </label>
      <br />
      <textarea id="style" name="style" rows="1" cols="30">
        {{style}}
      </textarea>
      <br />
      <label class="my-sm-1 my-md-2 d-flex text-center justify-content-md-center justify-content-lg-start justify-content-xl-center" for="agave">
        Mezcal Agave:
      </label>
      <br />
      <textarea id="agave" name="agave" rows="1" cols="30">
        {{agave}}
      </textarea>
      <br />
      <label class="my-sm-1 my-md-2 d-flex text-center justify-content-md-center justify-content-lg-start justify-content-xl-center" for="abv">
        Mezcal ABV:
      </label>
      <br />
      <input id="abv" name="abv" rows="2" cols="30" type="number" min="0" max="100" step="1">
        {{abv}}
      </input>
      <br />
      <label class="my-sm-1 my-md-2 d-flex text-center justify-content-md-center justify-content-lg-start justify-content-xl-center" for="origin">
        Mezcal Origin:
      </label>
      <br />
      <textarea id="origin" name="origin" rows="2" cols="30">
        {{origin}}
      </textarea>
      <br />
      <label class="my-sm-1 my-md-2 d-flex text-center justify-content-md-center justify-content-lg-start justify-content-xl-center" for="aroma">
        Mezcal Aroma:
      </label>
      <br />
      <textarea id="aroma" name="aroma" rows="2" cols="30">
        {{aroma}}
      </textarea>
      <br />
      <label class="my-sm-1 my-md-2 d-flex text-center justify-content-md-center justify-content-lg-start justify-content-xl-center" for="pallet">
        Mezcal Pallet:
      </label>
      <br />
      <textarea id="pallet" name="pallet" rows="2" cols="30">
        {{pallet}}
      </textarea>
      <br />
      <br />
      <input
        type="hidden"
        name="isManager"
        id="isManager"
        value="{{isManager}}"
      />
      <button type="submit" value="Submit" class="d-flex py-2 justify-content-center ">
        Submit
      </button>
    </form>
  </div>
</div>
</div>

<script src="/js/add-Mezcal.js"></script>