{{!-- {{> mezcal-swiper}}
{{#each mezcal as |mezcal|}}
{{> mezcal-details}}
{{/each}} --}}

<div class="mezcal-card">
  <div class="Mezcal-card-header">
    {{name}}
  </div>
  <div class="card-body">
    <p>
      Style:
      {{style}}
    </p>
    <p>
      Agave:
      {{agave}}
    </p>
    <p>
      ABV:
      {{abv}}
    </p>
    <p>
      Origin:
      {{origin}}
    </p>
    <p>
      Aroma:
      {{aroma}}
    </p>
    <p>
      Pallet:
      {{pallet}}
    </p>
  </div>
</div>

<div class="edit-mezcal-container">
  <h2>
    Update Mezcal
  </h2>
  <form class="edit-Mezcal-form">
    <label for="name">
      New Mezcal Name:
    </label>
    <br />
    <textarea id="name" name="name" rows="2" cols="30">
      {{name}}
    </textarea>
    <br />
    <label for="style">
      New Mezcal Style:
    </label>
    <br />
    <textarea id="style" name="style" rows="5" cols="30">
      {{style}}
    </textarea>
    <br />
    <label for="agave">
      New Mezcal Agave:
    </label>
    <br />
    <textarea id="agave" name="agave" rows="2" cols="30">
      {{agave}}
    </textarea>
    <br />
    <label for="abv">
      New Mezcal ABV:
    </label>
    <br />
    <textarea id="abv" name="abv" rows="5" cols="30">
      {{abv}}
    </textarea>
    <br />
    <label for="origin">
      New Mezcal Origin:
    </label>
    <br />
    <textarea id="origin" name="origin" rows="2" cols="30">
      {{origin}}
    </textarea>
    <br />
    <label for="aroma">
      New Mezcal Aroma:
    </label>
    <br />
    <textarea id="aroma" name="aroma" rows="5" cols="30">
      {{aroma}}
    </textarea>
    <br />
    <label for="pallet">
      New Mezcal Pallet:
    </label>
    <br />
    <textarea id="pallet" name="pallet" rows="2" cols="30">
      {{pallet}}
    </textarea>
    <br />
    <br />
    <input
      type="hidden"
      name="isManager"
      id="isManager"
      value="{{isManager}}"
    />
    <button type="submit" value="Submit">
      Submit
    </button>
  </form>
</div>
<script src="js/script.js"></script>
<script src="/js/editMezcal.js"></script>